[defaults]
inventory           = /etc/ansible/inventory.ini
host_key_checking   = False
timeout             = 30
retry_files_enabled = False

[privilege_escalation]
become        = True
become_method = sudo
become_flags  = -H -n